* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(27, 198, 255);
}

.nav-list {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

.table-events{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-events th, 
.table-events td {
    background-color: aliceblue;
    width: 310px;
    padding: 8px;
    border: 3px solid rgb(66, 132, 255);
    text-align: center;
}